<!--========================================================
                          HEADER
=========================================================-->

<header id="header" class="">
    <div class="block-left back-white   ">
      <div class="header-block">
          <div class="header-logo">
          <a href="index.html">
            <div class="logo-image"><img src="images/logo_image.jpg" alt="logo image"></div>
                <div class="logo">

               <h1>LIMOUSINE<br>Services</h1>
                  </div>
                  <div class="clear"></div>
          </a>

              </div>

              </div>
      <div class="header-navigation">
        <nav id="stuck_container">
                  <ul class="sf-menu">
                    <li class="current"><a class="no-pad" href="index.html">Home</a></li>

                    <li><a href="index-1.html">About</a></li>
                    <li><a class="inner" href="index-2.html">Services</a>
                          <ul>
                          <li><a href="#">Lorem ipsum dolor </a></li>

                          <li><a href="#">Sit amet conse </a>

                          </li>
                          <li><a href="#">Ctetur adipisicing </a>
                            <ul>
                              <li><a href="#">Sed do eiusmod </a></li>


                            </ul>
                          </li>

                        </ul>
                    </li>
                    <li><a href="index-3.html">Fleet</a></li>
                    <li><a href="index-4.html">Contacts</a></li>

                  </ul>
                </nav>
     </div>


    </div>
    <div class="block-right ">

      <div class="slide-bg">
    <div id="camera_wrap">
      <div data-src="images/slide1.jpg">

      </div>
      <div data-src="images/slide2.jpg">

      </div>
      <div data-src="images/slide3.jpg">

      </div>
    </div>
      <div >

   </div>
  </div>
    </div>
    <div class="clear"></div>




</header>
